.signup__container{
    padding: 1em;
}

.signup__title{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 900;
}

.signup__form{
    margin:1em auto;
    width:500px;
    max-width: 100%;
    padding:15px;
    border:1px solid #777;
}

.form__controle{
    margin:8px 0;
}

.form__controle label{
    display: block;
    margin-bottom: 4px;
    font-size: 1.4rem;
    font-weight: 700;
}

.form__controle input{
    width:100%;
    padding:8px 4px;
    border:1px solid #777;
    font-size: 1.1rem;
}

.form__controle input:focus{
    border:2px solid #777;
}

.signup__form .btn{
    width:80px;
    margin:0.5em 0;
    font-size: 1rem;
    padding:8px 4px;
}

.signup__links{
    font-size: 1.2rem;
    text-align: center;
}

