
.playlist__option{
    background-color: rgba(0,0,0,0.4);
    position:fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    min-height: 100vh;
    min-width: 100vw;
}

.option__content{
    background-color: white;
    padding: 10px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:200px;
}

.option__content input[type=text] {
    width:100%;
    margin-bottom: 0.8em;
    padding: 8px 4px;
    border:1px solid #777;
}

.addplaylist__title{
    font-size: 1.2rem;
    font-weight: 800;
    margin:8px 4px;
}

.playlist__options{
    font-size: 1.4rem;
}

.playlist__item{
    margin:0.3em 0;
}

.playlist__item input{
    transform: scale(1.2);
}

.playlistitem__name{
    margin-left: 0.3em;
}

.playlist__add{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin:0.5em 0;
}

.playlistadd__icon{
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.2em;
}

.playlistadd__icon img{
    width: 100%;
    height: 100%;
}

.option__content .btn{
    padding:4px 8px;
}

.btn--add{
    margin-right: 0.5em;
}