.header__container{
    border:1px solid #777;
    box-shadow:0 2px 0 #888888;
    padding:20px 10px;
    z-index: 401;
    position:fixed;
    top:0;
    left: 0;
    right:0;
    background-color: white;
}

.header__content{
    width:1200px;
    max-width: 100%;
    margin:0 auto;
}

.logo{
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bolder;
}

.sidebar__btn{
    border:1px solid red;
}


@media screen and (min-width:1200px) {
    
    .sidebar__btn{
        display:none;
    }
}

@media screen and (max-width:1200px) {
    
    .sidebar__btn{
        display: inline-block;
    }
}