.savepage__container{
    padding:10px;
}

.savepage__title{
    font-size: 1.7rem;
    font-weight: 900;
    margin:1em 0;
}

.savepage__videos{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 15px;
}

.savepage__videos a{
    text-decoration: none;
    color: inherit;
}

.savepage__video{
    position: relative;
}

.savepage__video .video__container{
    margin: 0 auto;
}

.savepage__video .video__container:hover{
    transform: scale(1.1);
}

.close__btn{
    position:absolute;
    top:5px;
    right:2em;
    width: 1.5em;
    height: 1.5em;
    background-color: white;
    border-radius: 50%;
    border:1px solid #777;
}

.close__btn img{
    width: 100%;
    height: 100%;
}