@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    margin:0;
}